<hr>
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item active">
      <h4>Register a parcel</h4>
    </li>
  </ol>
</nav>

<div>
    <%= form_for @parcel do |f| %>
        <div class="form-group col col-md-12">
            <div class="row">
              <%= f.label 'Client' %>
              <div class="col-md-4">
                <%= f.select :user_id, options_from_collection_for_select(@users, :id, :email), {},
                             {class: 'form-control' }
                %>
              </div>
              <div class="col-md-4">
                <%=
                    link_to 'Add user', 'javascript:void(0)', class: 'btn btn-primary btn-sm',
                        data: {toggle: 'modal', target: '#add_user_modal'}
                 %>
              </div>
            </div>
            <br />
            <div class="row">
              <div class="card" style="width: 24rem;">
                <div class="card-body">
                  <h5 class="card-title">Origin Address</h5>
                  <div class="input-group mb-6">
                    <%= field_set_tag nil, style: 'min-width: 100%;' do %>
                        <%= label_tag 'Street'%><br />
                        <%= text_field_tag 'origin_address[street]', nil,  class: 'form-control' %>
                        <%= label_tag 'External number'%><br />
                        <%= text_field_tag 'origin_address[ext_number]', nil,  class: 'form-control' %>
                        <%= label_tag 'Appartment number'%><br />
                        <%= text_field_tag 'origin_address[int_number]', nil,  class: 'form-control' %>
                        <%= label_tag 'City'%><br />
                        <%= text_field_tag 'origin_address[city]', nil,  class: 'form-control' %>
                        <%= label_tag 'Country'%><br />
                        <%= text_field_tag 'origin_address[country]', nil,  class: 'form-control' %>
                        <%= label_tag 'ZIP code'%><br />
                        <%= text_field_tag 'origin_address[zip_code]', nil,  class: 'form-control',
                                           style: 'width: 75%; display:inline-block;' %>
                        <div class="input-group-append" style="display: inline-block; width: 23%;">
                          <%= link_to 'Lookup', 'javascript:void(0);', id: 'source_zipcode', class: 'btn btn-outline-secondary' %>
                        </div>
                    <% end %>
                  </div>
                </div>
              </div>
              <div class="card" style="width: 24rem;">
                <div class="card-body">
                  <h5 class="card-title">Destination Address</h5>
                  <div class="input-group mb-6">
                    <%= field_set_tag nil, style: 'min-width: 100%;' do %>
                      <%= label_tag 'Street'%><br />
                      <%= text_field_tag 'destination_address[street]', nil,  class: 'form-control' %>
                      <%= label_tag 'External number'%><br />
                      <%= text_field_tag 'destination_address[ext_number]', nil,  class: 'form-control' %>
                      <%= label_tag 'Appartment number'%><br />
                      <%= text_field_tag 'destination_address[int_number]', nil,  class: 'form-control' %>
                      <%= label_tag 'City'%><br />
                      <%= text_field_tag 'destination_address[city]', nil,  class: 'form-control' %>
                      <%= label_tag 'Country'%><br />
                      <%= text_field_tag 'destination_address[country]', nil,  class: 'form-control' %>
                      <%= label_tag 'ZIP code'%><br />
                      <%= text_field_tag 'destination_address[zip_code]', nil,  class: 'form-control',
                                         style: 'width: 75%; display:inline-block;' %>
                      <div class="input-group-append" style="display: inline-block; width: 23%;">
                        <%= link_to 'Lookup', 'javascript:void(0);', id: 'destination_zipcode', class: 'btn btn-outline-secondary' %>
                      </div>
                    <% end %>
                  </div>
                </div>
              </div>
              <div class="card" style="width: 18rem;">
                <div class="card-body">
                  <h5 class="card-title">Receiver</h5>
                  <%= f.label 'Name' %><br />
                  <%= f.text_field :receiver_name, class: 'form-control' %>
                  <%= f.label 'Phone' %><br />
                  <%= f.phone_field :receiver_phone, class: 'form-control' %>
                  <%= f.label 'E-mail' %><br />
                  <%= f.email_field :receiver_email, class: 'form-control' %>
                </div>
              </div>
            </div>
        </div>

        <div class="actions">
            <%= f.submit "Create", class: 'btn btn-primary' %>
        </div>
    <% end %>
</div>

<%= render 'shared/add_user_modal' %>